@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  height: 100%;
}

body{
  height: 100vh;
  background-color: #000;
  color: white;
}

input, textarea{
  outline: none !important;
  border: none !important;
}

#NotFound{
  background: radial-gradient(#dcdcdc4e 2%, #000 70%,#000 100%)
}

a{
  text-decoration: none;
}


*{
  box-sizing: border-box;
  scrollbar-color: red;
}

::-webkit-scrollbar{
  border: 2px solid #1A1A1A;
  background-color: #262626;
  width: 8px;
  height: 8px; 
}


::-webkit-scrollbar-thumb{
  background-color: #9A9A9A;
  border-radius: 10px;
 
}

/*Utilities*/

.max-h-500{
  max-height:500px;
}

.max-h-600{
  max-height:600px;
}

.text-xxs{
font-size: 10px;
}