@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  height: 100%;
}

body{
  height: 100vh;
  background-color: #000;
  color: white;
}

 textarea{
  outline: none;
  border: none;
}
input{
  outline: none !important;
}

#NotFound{
  background: radial-gradient(#dcdcdc4e 2%, #000 70%,#000 100%)
}

a{
  text-decoration: none;
}


*{
  box-sizing: border-box;
  scrollbar-color: red;
}

::-webkit-scrollbar{
  border: 2px solid #1A1A1A;
  background-color: #262626;
  width: 8px;
  height: 8px; 
}


::-webkit-scrollbar-thumb{
  background-color: #9A9A9A;
  border-radius: 10px;
 
}

/*Utilities*/

.max-h-500{
  max-height:500px;
}

.max-h-600{
  max-height:600px;
}

.text-xxs{
font-size: 10px;
}

.loader {
  width: 84px;
  height: 84px;
  position: relative;
}
.loader:before , .loader:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width:64px;
  height: 64px;
  border-radius: 50%;
  background:#5E35B1;
  transform: translate(-50% , -100%)  scale(0);
  animation: push 1s infinite linear;
}
.loader:after {
  animation-delay: .5s;
}
@keyframes push {
    0% , 50%{ transform: translate(-50% , 0%)  scale(1) }
  100% { transform: translate(-50%, -100%) scale(0) }
}
